<section class="block block--dark block--skewed-right block_showcase">
  <header class="block__header">
    <h2>User-friendly Control panel</h2>
  </header>
  <div class="container Grid grid--1x2">
    <img class="block-showcase__image" src="images/ipad.png" alt="ipad" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon .icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Sort & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla,
              nobis. Eaque corporis quis exercitationem aspernatur tenetur
              asperiores animi quisquam mollitia!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container--black">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Sort & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla,
              nobis. Eaque corporis quis exercitationem aspernatur tenetur
              asperiores animi quisquam mollitia!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container--black">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Sort & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla,
              nobis. Eaque corporis quis exercitationem aspernatur tenetur
              asperiores animi quisquam mollitia!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
